@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
}

.img-cover {
  width: 60%;
  height: 100vh;
  background: url("https://source.unsplash.com/random") no-repeat center / cover;
}

.form-container {
  flex-grow: 1;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.big-title {
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-control {
  height: 60px;
  border-radius: 10px;
}
.label-input {
  line-height: 60px;
}

.error {
  color: red;
}
.link {
  text-decoration: none;
  text-align: right;
  margin-top: 12px;
  cursor: pointer;
}

.forny-inner {
  display: grid;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.mail {
  padding: 0;
  margin: 0;
}
.mail h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
}
.mail p {
  padding: 10px;
}

.loader {
  border: 16px solid #c7c7c7;
  border-top: 16px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

.info-screen {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  justify-content: center;
  align-items: center;
}
.paper {
  background-color: #ffffff;
  width: 60%;
  min-width: 600px;
  height: 55vh;
  min-height: 450px;
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
}

.form-container {
  flex-grow: 1;
}

.avatar-container {
  width: 30%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 1px solid rgb(207, 207, 207);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/main.jfif") no-repeat center / cover;
}

.chat-paper {
  width: 65%;
  height: 80vh;
  min-width: 576px;
  min-height: 500px;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sibar-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 300px;
  min-width: 220px;
  border-radius: 15px 0px 0px 15px;
  color: #fff;
  padding: 20px 10px 12px 16px;
  position: relative;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.sidebar-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 23px;
  padding-bottom: 20px;
  border-bottom: 2px solid #fff;
  margin-bottom: 12px;
}
.btn-create {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  color: #fbc2eb;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  border: 1px solid #fff;
  transition: all 0.25s ease-out;
}
.btn-create:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #fbc2eb;
  transition: all 0.15s ease-in;
}

#modalTittle {
  color: #333333;
}

.btn-linear {
  background-color: #a18cd1;
  border: 2px solid #a18cd1;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.25s ease;
}
.btn-linear:hover {
  color: #a18cd1;
  background-color: #fff;
  transition: all 0.15s ease;
  border: 2px solid #a18cd1;
}
.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333;
  margin-bottom: 12px;
}
.modal-input {
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 19px !important;
  color: #333 !important;
}

.caution {
  color: red;
  display: inline-block;
  margin-right: 4px;
}

.cs-list {
  height: 100%;
  overflow: auto;
  padding-right: 8px;
}

.cs-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(227, 180, 228, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}

.cs-list::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
  border-radius: 10px;
}

.cs-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e2e2e2;
}

.cs-item {
  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #ffffff00;
}
.cs-item:hover {
  border: 1px solid white;
  background-color: #ffffff26;
}

.cs-avatar {
  width: 50px;
  height: 50px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 100%;
  border: 1px solid rgb(206, 205, 205);
  background-image: url("../images/no-image.png");
}

.cs-sub-container {
  width: calc(100% - 100px);
  margin-left: 8px;
}

.cs-name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.cs-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

#exampleModalLabel {
  color: #333333;
}

.btn-show-more {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  background-image: url("../images/more.png");
  transition: all 0.15s ease-out;
  width: 35px;
  height: 35px;
  cursor: pointer;

  position: relative;

  visibility: hidden;
  opacity: 0;
}

.cs-item:hover .btn-show-more {
  visibility: visible;
  opacity: 1;
}

.cs-popup {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100px;
  height: auto;
  background: #fff;
  color: #333;
  /* display: flex; */
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  z-index: 10;

  display: none;
  visibility: hidden;
  opacity: 0;
}

.btn-popup {
  cursor: pointer;
  height: 25px;
  border-radius: 4px;
  padding: 0px 4px;
}
.btn-popup:hover {
  background-color: #dfdfdf;
}

.show {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-container {
  flex-direction: column;
  height: calc(100% - 82px);
}

.list-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;

  border-bottom: 2px solid #cfcfcf;
  padding: 20px;
  width: 100%;
}

.composer-container {
  display: flex;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  height: 80px;
  width: 100%;
  position: relative;
}

.composer-container > input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  /* border-radius: 0; */
  background-color: #dedede;
}

.composer-container > input:focus-visible {
  border: none !important;
  outline: none;
}

.list-container {
  flex-direction: column;
  margin: 4px 0px;
  padding: 8px;
  overflow: auto;
}

.list-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(227, 180, 228, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}

.list-container::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e2e2e2;
}

.msg-item-container {
  flex-direction: column;
  margin: 6px 0px;
}

.author-item {
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
}

.content-item {
  background-color: #e0e0e0;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 4px;
  width: fit-content;
}

.avatar-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid rgb(207, 207, 207);
  margin: 4px 6px;
}

.msg-item-right {
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
}

.msg-item-right > div:last-child {
  flex-direction: row-reverse;
}

.bgPink {
  background-color: #fbc2eb !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
